<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>html</title>
        <link rel="stylesheet" href="/static/estilo.css">
    </head>
    <body>
        <h1>hola mundo cruel desd ejs</h1>
    </body>
</html>